examples/licenseplate.json
[
    {
        "id": "4a777a31dc65c715",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4c175a705ad600ec",
        "type": "inference",
        "z": "4a777a31dc65c715",
        "apikey": "",
        "model": "license-plate-recognition-rxg4e/4",
        "overlap": "90",
        "confidence": "70",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "c266d8db236d1f28"
            ]
        ]
    },
    {
        "id": "85227ec46a7e3143",
        "type": "inject",
        "z": "4a777a31dc65c715",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "driveway camera",
        "payloadType": "str",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "2fabca5c863a573f"
            ]
        ]
    },
    {
        "id": "2fabca5c863a573f",
        "type": "file in",
        "z": "4a777a31dc65c715",
        "name": "image",
        "filename": "examples/images/cars.jpeg",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "base64",
        "allProps": false,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "4c175a705ad600ec",
                "160d79d9ca4fa083"
            ]
        ]
    },
    {
        "id": "160d79d9ca4fa083",
        "type": "image viewer",
        "z": "4a777a31dc65c715",
        "name": "",
        "width": "200",
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 510,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "c266d8db236d1f28",
        "type": "split",
        "z": "4a777a31dc65c715",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 270,
        "y": 320,
        "wires": [
            [
                "b21d89a70e3faaf4"
            ]
        ]
    },
    {
        "id": "b21d89a70e3faaf4",
        "type": "jimp-image",
        "z": "4a777a31dc65c715",
        "name": "",
        "data": "filename",
        "dataType": "msg",
        "ret": "b64",
        "parameter1": "payload.x1",
        "parameter1Type": "msg",
        "parameter2": "payload.y1",
        "parameter2Type": "msg",
        "parameter3": "payload.width",
        "parameter3Type": "msg",
        "parameter4": "payload.height",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "image",
        "sendPropertyType": "msg",
        "parameterCount": 4,
        "jimpFunction": "crop",
        "selectedJimpFunction": {
            "name": "crop",
            "fn": "crop",
            "description": "crop to the given region",
            "parameters": [
                {
                    "name": "x",
                    "type": "num",
                    "required": true,
                    "hint": "the x coordinate to crop form"
                },
                {
                    "name": "y",
                    "type": "num",
                    "required": true,
                    "hint": "the y coordinate to crop form"
                },
                {
                    "name": "w",
                    "type": "num",
                    "required": true,
                    "hint": "the width of the crop region"
                },
                {
                    "name": "h",
                    "type": "num",
                    "required": true,
                    "hint": "the height of the crop region"
                }
            ]
        },
        "x": 130,
        "y": 380,
        "wires": [
            [
                "e27185937d442ee0"
            ]
        ]
    },
    {
        "id": "e223bdbc77686223",
        "type": "image viewer",
        "z": "4a777a31dc65c715",
        "name": "",
        "width": "200",
        "data": "image",
        "dataType": "msg",
        "active": true,
        "x": 510,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "25fb95ba17b8cafb",
        "type": "function",
        "z": "4a777a31dc65c715",
        "name": "ocr",
        "func": "const {ocrSpace} = OCRSpace\n\nconst response = await ocrSpace(msg.image, { apiKey: \"K83556624588957\", scale: true, OCREngine: 2, detectOrientation: true})\n\nconsole.log(response)\n\nif(response.IsErroredOnProcessing) throw Error(response)\n\nmsg.payload = response.ParsedResults[0].ParsedText.replace(/[^a-zA-Z0-9]/g, '')\n\nreturn msg\n\n/*try {\n    var reqConfig = {\n        method: \"POST\",\n        url: \"https://api.ocr.space/parse/image?api_key=helloworld\",\n        responseType: \"json\",\n        data: {\n            apikey: \"helloworld\",\n            filetype: \"JPG\",\n            base64Image: msg.payload\n        }\n    }\n\n    const response = await axios(reqConfig);\n\n\n    msg.payload = response\n\n    return msg;\n} catch(error) {\n    console.log(error.response)\n    throw Error(error)\n}*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "axios",
                "module": "axios"
            },
            {
                "var": "OCRSpace",
                "module": "ocr-space-api-wrapper"
            }
        ],
        "x": 130,
        "y": 440,
        "wires": [
            [
                "1680a7b26b4bcebc",
                "29eec51d9846de78"
            ]
        ]
    },
    {
        "id": "1680a7b26b4bcebc",
        "type": "debug",
        "z": "4a777a31dc65c715",
        "name": "plate number",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 680,
        "wires": []
    },
    {
        "id": "b08f8e03544a833c",
        "type": "delay",
        "z": "4a777a31dc65c715",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 540,
        "y": 460,
        "wires": [
            [
                "e223bdbc77686223"
            ]
        ]
    },
    {
        "id": "e27185937d442ee0",
        "type": "jimp-image",
        "z": "4a777a31dc65c715",
        "name": "",
        "data": "image",
        "dataType": "msg",
        "ret": "b64",
        "parameter1": "200",
        "parameter1Type": "num",
        "parameter2": "-1",
        "parameter2Type": "num",
        "parameter3": "RESIZE_BICUBIC",
        "parameter3Type": "resizeMode",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "image",
        "sendPropertyType": "msg",
        "parameterCount": 3,
        "jimpFunction": "resize",
        "selectedJimpFunction": {
            "name": "resize",
            "fn": "resize",
            "description": "resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).",
            "parameters": [
                {
                    "name": "w",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the width to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "h",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the height to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "mode",
                    "type": "resizeMode",
                    "required": false,
                    "hint": "a scaling method (e.g. Jimp.RESIZE_BEZIER)"
                }
            ]
        },
        "x": 250,
        "y": 380,
        "wires": [
            [
                "25fb95ba17b8cafb",
                "b08f8e03544a833c"
            ]
        ]
    },
    {
        "id": "29eec51d9846de78",
        "type": "upload",
        "z": "4a777a31dc65c715",
        "apikey": "",
        "project": "license-plate-recognition-rxg4e/4",
        "x": 130,
        "y": 500,
        "wires": [
            []
        ]
    }
]